<section class="py-1 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Angular Bank</h1>
      <p class="lead text-muted">Aqui é possível realizar cadastro de clientes, transferência bancária, saque e depósito.</p>
    </div>
  </div>
</section>

<div class="album py-2 bg-light text-center">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-4">
      <div class="col-md-3">
        <div class="card" style="width: 15rem;">
          <img src="https://image.freepik.com/free-vector/piggy-bank-money_24908-59515.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Saque</h5>
            <p class="card-text">Realizar o saque de uma conta</p>
            <a routerLink="/saque" class="btn btn-dark">Abrir Página</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 15rem;">
          <img src="https://image.freepik.com/free-vector/savings-background-design_1270-10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Depósito</h5>
            <p class="card-text">Realizar depósito em uma conta</p>
            <a routerLink="/deposito" class="btn btn-dark">Abrir Página</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 15rem;">
          <img src="https://image.freepik.com/free-vector/money-bag-background-design_1270-41.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Transferência</h5>
            <p class="card-text">Realizar transferência para uma conta</p>
            <a routerLink="/transferencia"class="btn btn-dark">Abrir Página</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 15rem;">
          <img src="https://image.freepik.com/free-vector/hand-drawn-finance-leaders-concept-with-flag_23-2149163904.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Visualizar clientes cadastrados</p>
            <a routerLink="/clientes" class="btn btn-dark">Abrir Página</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
